<html>

<head>
   <title>YoseTheGame</title>
   <link href="http://fonts.googleapis.com/css?family=Play" rel="stylesheet" type="text/css">
   <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
   <h2>Hello Yose</h2>

   <div id="challenges">
      <span>Challenges</span>
      <ul>
         <li><a id="ping-challenge-link" href="/ping">Ping</a></li>
      </ul>

   </div>

   <div id="portfolio">
      <a id="repository-link" href="http://github.com/aamyot/yose-ruby">Source</a>
      <a id="contact-me-link" href="http://ca.linkedin.com/in/alexandreamyot">Contact</a>
   </div>
</div>

</body>
</html>